# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\E\SynologyDrive\SynologyDrive\17L1\Study\代码\java\codeTopAndArrowToOffer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
